/*ion-toolbar{
    text-align: center;
}*/

form, input, optgroup, select {
    margin-top: 20px;
    margin-left: 22px;
    margin-right: 22px;
}

ion-select, ion-input, ion-datetime{
    border: 1px solid #ededed;
    border-radius: 5px;
    background: #fbfbfb;
    height: 38px;
    margin-bottom: 23px;
    margin-top: 1px;
    width: 100%;  
}

ion-label {
    font-weight: bold;
    font-size: 14px;
}

ion-title {
    font-weight: bold;
    font-size: 20px;
}

