<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Search</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-card>
    <ion-item>
      <ion-label stacked>Name:</ion-label>
      <ion-input position="floating" type="text" name="name" required clearInput [(ngModel)]="item.name"
        placeholder="name" maxlength="50">
      </ion-input>
      <ion-icon name="person" item-start></ion-icon>
    </ion-item>
  </ion-card>

  <ion-card>
    <ion-item>
      <ion-label stacked>Phone:</ion-label>
      <ion-input position="floating" type="phone" name="phone" required clearInput [(ngModel)]="item.phone"
        placeholder="phone" maxlength="15">
      </ion-input>
      <ion-icon name="phone-portrait" item-start></ion-icon>
    </ion-item>
  </ion-card>

  <ion-card>
    <ion-item>
      <ion-label stacked>Price:</ion-label>
      <ion-input position="floating" type="number" name="price" required clearInput [(ngModel)]="item.price"
        placeholder="price">
      </ion-input>
      <ion-icon name="cash" item-start></ion-icon>
    </ion-item>
  </ion-card>

  <ion-card>
    <ion-item>
      <ion-label stacked>Location:</ion-label>
      <ion-select [(ngModel)]="item.location" name="location">
        <ion-select-option *ngFor="let location of locations" value="{{location.id}}">
          {{location.name}}
        </ion-select-option>
      </ion-select>
      <ion-icon name="pin" item-start></ion-icon>
    </ion-item>
  </ion-card>

  <!-- <ion-card>
    <ion-item>
      <ion-label position="stacked">Test:</ion-label>
      <ion-toggle [(ngModel)]="item.test" name="test"></ion-toggle>
    </ion-item>
  </ion-card> -->

  <ion-card>
    <ion-card-content>
      <ion-radio-group [(ngModel)]="option" name="genre">
        <ion-list-header>
          <ion-label>Option</ion-label>
        </ion-list-header>

        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label>Name</ion-label>
              <ion-radio slot="start" value="1" checked></ion-radio>
            </ion-item>
          </ion-col>
          <ion-col>
            <ion-item>
              <ion-label>Phone</ion-label>
              <ion-radio slot="start" value="2"></ion-radio>
            </ion-item>
          </ion-col>
          <ion-col>
            <ion-item>
              <ion-label>Price</ion-label>
              <ion-radio slot="start" value="3"></ion-radio>
            </ion-item>
          </ion-col>
          <ion-col>
            <ion-item>
              <ion-label>Location</ion-label>
              <ion-radio slot="start" value="4"></ion-radio>
            </ion-item>
          </ion-col>
          <ion-col>
            <ion-item>
              <ion-label>Test</ion-label>
              <ion-radio slot="start" value="5"></ion-radio>
            </ion-item>
          </ion-col>
        </ion-row>

      </ion-radio-group>
    </ion-card-content>
  </ion-card>


</ion-content>

<ion-footer>

  <ion-toolbar>
    <ion-button expand="full" color="success" (click)="search()">Search</ion-button>
    <ion-button expand="full" color="danger" (click)="dismiss()">Cancel</ion-button>
  </ion-toolbar>
</ion-footer>