<ion-header>
  <ion-toolbar>
    <ion-title>
      Home App
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <div class="ion-padding">
    The world is your oyster.
    <p>If you get lost, the <a target="_blank" rel="noopener" href="https://ionicframework.com/docs/">docs</a> will be your guide.</p>
  </div> -->

  <ion-button routerLink="/kine">
    <ion-icon slot="icon-only" name="add"></ion-icon>
  </ion-button>

  <ion-button routerLink="/kine-list">
    <ion-icon slot="icon-only" name="list"></ion-icon>
  </ion-button>

  <ion-button routerLink="/location">
    <ion-icon slot="icon-only" name="map"></ion-icon>
  </ion-button>

</ion-content>
