<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Home App
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid>
    <ion-row class="ion-justify-content-center align-items-center">

      <ion-col class="ion-padding" routerLink="/kine" col-4>
        <div class="ion-text-center">
          <img src="../../../assets/icon-app/user.jpg" height="150px" width="150px">
          <h3>
            <ion-icon slot="icon-only" name="add"></ion-icon>Add Item
          </h3>
        </div>
      </ion-col>

      <ion-col class="ion-padding" routerLink="/kine-list" col-4>
        <div class="ion-text-center">
          <img src="../../../assets/icon-app/user.jpg" height="150px" width="150px">
          <h3>
            <ion-icon slot="icon-only" name="list"></ion-icon>List
          </h3>
        </div>
      </ion-col>

      <ion-col class="ion-padding" routerLink="/location" col-4>
        <div class="ion-text-center">
          <img src="../../../assets/icon-app/user.jpg" height="150px" width="150px">
          <h3>
              <ion-icon slot="icon-only" name="map"></ion-icon>Add Locations
          </h3>
        </div>
      </ion-col>


    </ion-row>
  </ion-grid>

</ion-content>
